<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			YouTube
		</a>
		<a class="panel-block">
			DevOps
		</a>
		<a class="panel-block">
			Cyber Security
		</a>
		<a class="panel-block">
			Heathly Lifestyle
		</a>
		<a class="panel-block">
			Exotic Cars
		</a>
		<a class="panel-block">
			Linux
		</a>
	</nav>
</div>
